@charset 'utf-8';


/****************
 reset.CSS
 ***************/
* {padding: 0;margin: 0;}
html{font-size:62.5%}
a{text-decoration:none;color:#333;}
table {border-spacing: 0;border-collapse:collapse;}
fieldset,img { border: 0;}
address,caption,cite,code,dfn,em,strong,th,var {font-weight: normal;font-style: normal;}
strong{	font-weight: bold;}
ol,ul {list-style: none;margin:0; padding:0;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%; margin:0; padding:0; color:#444;}
q:before,q:after { content:'';}
abbr,acronym { border: 0;}

body{
	font-family:'montserrat','sans-serif';
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}