@charset "utf-8";
@import url(common.css);




	/* header */


	#header {width:100%;height:100px;background-color: #043927;position:fixed;z-index:999999}
	
	
		/* gnb */

			#header .gnb {width:100%;height:70px;background-color: #0493927;position:relative;}
			#header .tmenu {width:20px;height:20px;position:absolute;top:25px;left:4%}
			#header .tmenu img {width:100%;height:100%;}
			#header .logo {text-align:center;padding-top:25px}
			#header .logo img {width:150px;height:22px;}
			#header .search {width:28px;height:28px;position:absolute;right:13%;top:24px}
			#header .search img {width:100%;height:100%;}
			#header .cart {width:30px;height:30px;position:absolute;right:4%;top:22px}
			#header .cart img {width:100%;height:100%;}

 
		/* lnb */

			#header .lnb {background-color:#f1f1ed;height:30px;width:100%;line-height:30px;} 
			#header .lnb ul {width:90%;margin:0 auto}
			#header .lnb li {display:inline-block;padding:0 6px}
			#header .lnb li:last-child {padding-right:0}
			#header .lnb li a {color:#868686;}
		
		/* nav */
			#header .main-nav:after {content:'';display:block;clear:both}
			#header .main-nav .menuClose {position:absolute;left:8px;top:15px;}
			#header .main-nav img {width:30px;height:30px;}
		    #header	.main-nav {width:300px;background-color: #f1f1ed;height:1000px;position:relative;display:none;
			z-index:5000} 
			#header .main-nav.on {display: block;}
			#header .main-nav-ul {position:absolute;left:0;top:60px;width:100%;text-align: left;}
			#header .main-nav-ul a {display:block;padding:10px 0 10px 20px;
			color:#7d7d7d;letter-spacing:.2em;font-size:22px;}
			#header .main-nav-li a {font-size:16px;text-indent:20px;}
			#header .main-nav-ul a:hover{background-color: #41693f;color:white}
			#header .main-nav-ul ul {display:none}
			#header .main-nav-ul ul a:hover {color:white}
			#header .main-nav-ul li:hover ul {display:block;}
			#header .event {margin-bottom:100px}

		/* search */

			#header .searchbox {display:none;width:100%;height:100vh;background-color: #004236;position:relative;}
			#header .searchbox .Close {position:absolute;left:5%;top:5% ;width:22px;height:22px}
			#header .searchbox .Close img {;width:22px;height:22px}
			
			#header .searchbox .search1 {width:76%;margin:0 auto;padding-top:20%}
			#header .searchbox .search1 .ss {width:100%;height:54px}
			#header .searchbox .search1 .ss input {background-color: transparent;border:0}
		    #header .searchbox .search1 .ss input.search2 {float:left;width:76%;min-height:45px;border:4px solid #fff;color:#e1e1e1;outline:none;font-size:16px;}
			#header .searchbox .search1 .ss input.sch_btn {font-size:0;margin-left:5%;margin-top:2%;float:left;width:40px;height:40px;line-height:45px;background: url(../img/search2.png) no-repeat;background-size:cover;outline:none;cursor:pointer}


		 

		/* txt	 */

		 

			
		.searchbox .container{
			width: 230px;
			margin: 0 auto;
			margin-top:50px
		}



		.searchbox .container ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		.searchbox .container ul.tabs li{
			background: none;
			color:gray;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
		}

		.searchbox .container ul.tabs li.current{
			border-bottom:1px solid #fff;
			color: #fff;
			
		}

		.searchbox .container .tab-content{
			display: none;
			padding: 15px;text-align:center;color: #9ec7ab;font-size:14px
		}

		.searchbox .container .tab-content.current{
			display: inherit;
		}

	



/*login-container*/
#container2 {background-color: #fff;width:100%;padding-bottom:3%}
#container2 > a > img{width:75px;height:75px;padding:160px 0 30px 5px;}
#container2 h1{width:50%;margin:0 auto;color:#000;font-size:25px}
#container2 .loginPage {width:100%;}
#container2 .loginPage .inputText{padding:30px 0 20px;}
#container2 .loginPage .inputText p {width:70%;margin:0 auto;color:#043927}
#container2 .loginPage .inputText p input {;padding:4px 0;width:100%;height:30px;font-size:15px;text-indent:10px;border:none;border:1px solid #e1e1e1;margin:5px 0;}/* 입력시 글씨 크기 */

#container2 .loginPage .inputBox {width:70%;margin:0 auto;padding:8px 0}
#container2 .loginPage .inputBox div {width:100%;font-size:22px;font-weight:500;padding:3px 0;height:30px;line-height:32px;text-align:center;}
 #container2 .loginPage .inputBox div:first-child {background-color: #043927;color:#fff;
cursor:pointer;border:1px solid #043927} 
#container2 .loginPage .inputBox div:last-child{border: 1px solid #043927;background-color:#f1f1ed;
color:#043927;margin-top:2%} 
#container2 .loginPage .search {padding:10px 0 15px;}
#container2 .loginPage .search li {display:inline-block;}
#container2 .loginPage .search li a{font-size:13px;color:#a9a9a9}
#container2 .loginPage .search li:after {content:'|';padding:0 15px}
#container2 .loginPage .search li:last-child:after {content:'';padding:0 0}

#container2 .loginPage .snslogin{width:100%;background-color: #e1eae7;padding:20px 0;margin:30px 0 50px }
#container2 .loginPage .snslogin h3 {font-size:14px;color:#808080;font-weight:400}
#container2 .loginPage .snslogin ul li {display:inline-block;padding:8px 3px}
#container2 .loginPage .snslogin ul li a {display:block;width:40px;height:40px;background:no-repeat;text-indent:-9999em;}
#container2 .loginPage .snslogin  ul li:nth-of-type(1) a {
background: url(../img/naver.png);background-size:100% 100%}
#container2 .loginPage .snslogin  ul li:nth-of-type(2) a {
background: url(../img/kakao.png);background-size:100% 100%}
#container2 .loginPage .snslogin  ul li:nth-of-type(3) a {
background: url(../img/facebook.png);background-size:100% 100%}
#container2 .loginPage .snslogin ul li:nth-of-type(4) a {
background: url(../img/google.png);background-size:100% 100%}




/*footer*/


#footer {width:100%;background-color:#353535;color:#d7d7d7;height:270px;position:relative;}

#footer .familysite {width:100%;background-color: #f1f1ed;height:40px;color:#6c6c6c;font-size:13px}
#footer .familysite li {display:inline-block;padding:10px 0}
#footer .familysite li a{display:inline-block;font-weight:500;color:#6c6c6c}
#footer .familysite li:after {content:'|';padding:0 15px}
#footer .familysite li:last-child:after{content:'';padding:0}


#footer .sns {width:100%;padding:20px 0; background-color: #353535;}
#footer .sns ul li{display:inline-block;padding:0 10px}
#footer .sns ul li a {display:block;width:32px;height:32px;background:no-repeat;text-indent:-9999em;}
#footer .sns ul li:nth-of-type(1) a {
background: url(../img/face.png);background-size:100% 100%}
#footer .sns ul li:nth-of-type(2) a {
background: url(../img/insta.png);background-size:100% 100%}
#footer .sns ul li:nth-of-type(3) a {
background: url(../img/talk.png);background-size:100% 100%}
#footer .sns ul li:nth-of-type(4) a {
background: url(../img/youtube.png);background-size:100% 100%}



#footer .info ul li{padding:2px 0;font-size:12px}
#footer .info ul li:nth-of-type(4) a{padding-left:10px;font-weight:bold;color:#06593d}
#footer .info p {padding:10px 0 20px;margin-top:20px;color:#ddd}
 
/*top menu*/
/*top*/
#totop
{position:absolute;bottom:10px;right:10px;opacity:0;z-index:999999}
#totop a img{width:25px;height:25px;background: rgba(200,200,200,0.6);border:1px solid #043927;border-radius:50%;padding:3px}
#totop.on {opacity:1;position:fixed}

