@charset "utf-8";
@import url(common.css);

/*top*/
#totop
{position:absolute;bottom:10px;right:10px;opacity:0;z-index:9999}
#totop a img{width:25px;height:25px;background: rgba(200,200,200,0.6);border:1px solid #043927;border-radius:50%;padding:3px}
#totop.on {opacity:1;position:fixed}




/* header 지민 */
	/* header */

	#header {width:100%;height:100px;background-color: #043927;position:relative;position:fixed;z-index:999999}
	
	
/* gnb */

#header .gnb {width:100%;height:70px;background-color: #0493927;position:relative;}
#header .tmenu {width:20px;height:20px;position:absolute;top:25px;left:15px}
#header .tmenu img {width:100%;height:100%;}
#header .logo {text-align:center;padding-top:25px}
#header .logo img {width:180px;height:22px;}
#header .search {width:28px;height:28px;position:absolute;right:50px;top:24px}
#header .search img {width:100%;height:100%;}
#header .cart {width:30px;height:30px;position:absolute;right:15px;top:22px}
#header .cart img {width:100%;height:100%;}

#header .gnb {width:100%;height:70px;background-color: #0493927}

 

 

 

	

 

	/* lnb */

 

 

	 #header .lnb {background-color:#f1f1ed;height:30px;width:100%;line-height:30px;} 
	#header .lnb ul {width: 95%; margin:0 auto;}

 

	#header .lnb li {display:inline-block;padding-left:17px;}

	#header .lnb li a {color:#868686;display:block}
	 

	



	/* nav */
		#header .main-nav:after {content:'';display:block;clear:both}
		.main-nav .menuClose {position:absolute;left:8px;top:15px;}
     	.main-nav img {width:30px;height:30px;}
		.main-nav {width:300px;background-color: #f1f1ed;height:1000px;position:relative;display:none;
		z-index:5000} 
		.main-nav.on {display: block;}
		.main-nav-ul {position:absolute;left:0;top:60px;width:100%;text-align: left;}
		.main-nav-ul a {display:block;padding:10px 0 10px 20px;
		color:#7d7d7d;letter-spacing:.2em;font-size:22px;}
		.main-nav-li a {font-size:16px;text-indent:20px;}
		.main-nav-ul a:hover
		{background-color: #41693f;color:white}
		.main-nav-ul ul {display:none}
		.main-nav-ul ul a:hover {color:white}
		.main-nav-ul li:hover ul {display:block;}
		.event {margin-bottom:100px}



/* search */



.searchbox{position:absolute;display:none;z-index:9999

;width:100%;background-color: #004236;height:100%;color:white;margin-top:100px;}



.searchbox a {position:absolute;top:30px;left:20px;}

.searchbox a img {width:30px;height:30px;}



.search1

{width:70%;height:30px;position:relative;color:#fff;

top:100px;margin:0 auto;left:10px}




.search1 input.search2

{position: absolute; width:75%; height:30px;

font-size:25px;color:white;background-color: none;border:3px solid #fff;left:0;margin-right:6%;}



.search2:placeholder

{text-align:center;color:white;font-family: 'Noto Sans KR', sans-serif;}



.button

{position:absolute;width:30px;height:30px;border:none;right:0px;top:7px}




 

/* txt	 */

 

	
	.container{
	width: 230px;
	margin: 0 auto;
	margin-top:200px
}



ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color:gray;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	border-bottom:1px solid #fff;
	color: #fff;
	
}

.tab-content{
	display: none;
	padding: 15px;text-align:center
}

.tab-content.current{
	display: inherit;
}
	


	/* visual */

	#visual {position: relative;width:100%;margin:0 auto;top:100px}

 

	#visual #area ul li a img {vertical-align:top;width:100%;height:100%}

 

	#visual #area {height:200px;overflow:hidden;margin-bottom:10px;width:100%;}

	#visual #area ul {position:relative;width:100%;}

	#visual #area ul li {position:absolute;left:0;top:0;height: 200px;width:100%;}

	#visual #LR a {display: block;height:200px;width:40px;color:#000;

	font-size:2em;font-weight:bold;text-align:center;line-height:200px;

	position:absolute;top:0}

	#visual #LR a:first-child {left:0}

	#visual #LR a:last-child {right:0}

	#visual #control {position:absolute;text-align:center;bottom:0;width:100%}

	#visual #control a {display: inline-block;width:10px;height:10px;background-color: #000;

	text-align:center;color: #fff;line-height:20px;font-size:0.9em;border-radius:10px;margin:0 2px;

	text-indent:-99999em}

	#visual #control a.on {background-color: green;}




/*content*/

#container1 {background-color: #fff;padding:120px 0 20px 0}

#container1 #content1 {width:90%;margin:0 auto;max-width:800px;margin-bottom:6%}
#container1 #content1 h3 {color:#272727;margin:0 auto;width:135px;border-bottom:5px solid #043927;font-size:22px;letter-spacing:1px;}/*패딩은 합치면 줄이기*/
#container1 #content1 .best {width:100%;margin:0 auto;font-size:16px;margin-bottom:5%}
#container1 #content1 .best img{width:300px;height:300px;margin-top:-130px}
#container1 #content1 .best h4 {font-size:18px;}
#container1 #content1 .best h5 {margin-bottom:2%;color:#ccc}
#container1 #content1 .slideWrap1 {width:95%;margin:0 auto;max-width:800px}
#container1 #content1 .slideWrap1 li > span {color:#2e2e2e;padding-top:30px;}
#container1 #content1 .slideWrap1 li > span.price {font-size:14px;font-weight:600;color:#000}


#container1 #content2 {width:90%;margin:0 auto;max-width:800px;margin-bottom:6%}
#container1 #content2 h3 {color:#272727;margin:0 auto;width:135px;border-bottom:5px solid #043927;font-size:22px;letter-spacing:1px;margin-bottom:5%}/*패딩은 합치면 줄이기*/

#container1 #content2 .slideWrap1 {width:95%;margin:0 auto;max-width:800px}
#container1 #content2 .slideWrap1 li > span {color:#2e2e2e;padding-top:30px;}
#container1 #content2 .slideWrap1 li > span.price {font-size:14px;font-weight:600;color:#000}




#container1 #content3 {width:90%;margin:0 auto;max-width:800px;margin-bottom:6%}
#container1 #content3 h3 {color:#272727;margin:0 auto;width:135px;border-bottom:5px solid #043927;font-size:22px;letter-spacing:1px;margin-bottom:5%}/*패딩은 합치면 줄이기*/

#container1 #content3 .slideWrap1 {width:95%;margin:0 auto;max-width:800px}
#container1 #content3 .slideWrap1 li > span {color:#2e2e2e;padding-top:30px;}
#container1 #content3 .slideWrap1 li > span.price {font-size:14px;font-weight:600;color:#000}

#container1 #content4 {width:90%;margin:0 auto;max-width:800px;}
#container1 #content4 h3 {color:#272727;margin:0 auto;width:175px;border-bottom:5px solid #043927;font-size:22px;letter-spacing:1px;margin-bottom:5%}/*패딩은 합치면 줄이기*/
#container1 #content4 .slideWrap2  {max-width:800px;width:95%;margin:20px auto;}
#container1 #content4 .slideWrap2 li > span{text-indent:-9999px;opacity:0}
#container1 #content4 .slideWrap2 li > img{box-sizing:border-box;border:2px solid rgba(180,180,180,0.5);padding-top:30px} 

/*footer*/


#footer {width:100%;background-color:#353535;color:#d7d7d7;height:270px;position:relative;}

#footer .familysite {width:100%;background-color: #f1f1ed;height:40px;color:#6c6c6c;font-size:13px}
#footer .familysite li {display:inline-block;padding:10px 0}
#footer .familysite li a{display:inline-block;font-weight:500;color:#6c6c6c}
#footer .familysite li:after {content:'|';padding:0 15px}
#footer .familysite li:last-child:after{content:'';padding:0}


#footer .sns {width:100%;padding:20px 0; background-color: #353535;}
#footer .sns ul li{display:inline-block;padding:0 10px}
#footer .sns ul li a {display:block;width:32px;height:32px;background:no-repeat;text-indent:-9999em;}
#footer .sns ul li:nth-of-type(1) a {
background: url(../img/face.png);background-size:100% 100%}
#footer .sns ul li:nth-of-type(2) a {
background: url(../img/insta.png);background-size:100% 100%}
#footer .sns ul li:nth-of-type(3) a {
background: url(../img/talk.png);background-size:100% 100%}
#footer .sns ul li:nth-of-type(4) a {
background: url(../img/youtube.png);background-size:100% 100%}



#footer .info ul li{padding:2px 0;font-size:12px}
#footer .info ul li:nth-of-type(4) a{padding-left:10px;font-weight:bold;color:#06593d}
#footer .info p {padding:10px 0 20px;margin-top:20px;color:#ddd}

#footer .totop a img { display:block; width:25px;
 height:25px; border:1px solid #e2e2e2; border-radius:10px; padding:5px 10px;
 vertical-align:middle; z-index:1000; background:rgba(240,240,240,0.7); position:absolute;right:23px;bottom:20px}
