@charest 'utf-8';
@import url("common.css");


/*header*/
    #header{border-bottom:1px solid #bbb}
	#header .hlogo {position:absolute;left:30px;top:25px;z-index:60}
	#header .hlogo img {width:230px;}

	#header .hlnb{position:absolute;right:30px;top:10px;z-index:60}
	#header .hlnb li {display:inline-block}
	#header .hlnb li a {font-size:14px;color:gray}
	#header .hlnb li:after {content:'|';padding:0 2px;font-family:'dotum';color:gray}
	#header .hlnb li:last-child:after{content:''; padding:0}
	#header .hlnb li a:hover {color:#000;text-decoration:underline}


	#header .schbtn {position:absolute;right:30px;top:45px;z-index:60}
	#header .schbtn img {width:30px;height:30px}


	#hWarap {height:50px;overflow:hidden;}
	#hWrap #mheader{position:relative;height:50px;}
	#mheader #gnb {position:absolute;left:0;top:40px;z-index:30;width:100%;box-sizing:border-box;background:#fff } 
	#mheader #gnb nav{ position:relative;text-align:center;font-size:0;}
	#mheader #gnb nav > ul {height:50px;overflow:hidden; text-align:center;display:inline-block;}
	#mheader #gnb nav > ul:hover {overflow:visible;} 
	#mheader #gnb nav > ul > li {display:inline-block;margin:0 5px;position:relative}
	#mheader #gnb nav > ul > li > a{font-weight:bold;width:130px;height:61px;display:block;font-size:20px;color:#222;line-height:60px;position:relative}
	#mheader #gnb nav > ul > li > a:after {content:'';width:0;position:absolute;left:50%;
	bottom:-1px;height:2px;background: #0220ac;transition:all 0.5s;}
	#mheader #gnb nav > ul > li:hover > a:after{left:0;width:100%}
	#mheader #gnb nav > ul ul {transition:all 0.5s;
	opacity:0;display:none ;/* height:235px; */position:absolute;text-align:center;
	width:100%;padding:22px 0 0;display:none}
	#mheader #gnb nav > ul:hover ul {display:block;opacity:1}
	#mheader #gnb nav > ul ul li {line-height:30px}
	#mheader #gnb nav > ul ul a{transition:all 0.5s;position:relative;font-size:15px;color:#222}
	#mheader #gnb nav > ul ul a:hover {color:#009900}
	#mheader #gnb nav > ul ul a:after {content:'';width:0;position:absolute;left:50%;
	bottom:-6px;height:2px;background: #009900;transition:all 0.5s;}
	#mheader #gnb nav > ul ul a:hover:after {left:0;width:100%}

/*search form*/
#header .search_form {position:fixed; left:0; top:0; width:100%; height:100%; box-sizing:border-box; padding:200px 0; z-index:999; background:rgba(4, 55, 121, 0.9); z-index:995; display:none; }
#header .search_form p {text-align:center; color:#fff; margin-bottom:80px;}
#header .search_form p strong {display:block; font-size:50px; line-height:60px;}
#header .search_form p span {display:block; font-size:17px; opacity:0.5; -webkit-opacity:0.5; font-weight:300; margin-top:15px;}
#header .search_form .form {max-width:60%; margin:0 auto; position:relative; box-sizing:border-box; padding-right:60px; border-bottom:2px solid #fff;}
#header .search_form .form input[type="text"] {display:block; font-weight:300; width:100%; height:60px; border:0; padding:0 5px; line-height:60px; font-size:24px; color:#e3ebf4; background:none;}
#header .search_form .form input[type="text"]::-webkit-input-placeholder {color:#4071ac;}
#header .search_form .form input[type="text"]:-moz-placeholder {color:#4071ac;}
#header .search_form .form input[type="text"]::-moz-placeholder {color:#4071ac;}
#header .search_form .form input[type="text"]:-ms-input-placeholder {color:#4071ac;}
#header .search_form .form input[type="submit"] {display:block; width:60px; height:60px; position:absolute; right:0; top:0; border:0; background:url(../img/sch_wh.png) no-repeat center 55%;background-size:30px 30px; overflow:hidden; text-indent:-9999px;}
#header .search_form .btn_close {position:absolute; right:2%; margin-right:51px; top:57px; width:30px; height:30px; background:url(../img/close.png) no-repeat center 50%;background-size:30px 30px; overflow:hidden; text-indent:-9999px;}



/*visual*/
#visual{padding-top:106px;width:100%;height:410px}
#visual img {;width:100%;height:410px}



 

/*footer*/
    #footer .finner {position:relative;color:#666}
	#footer .finner a {color:#b1b1b1}
	#footer .finner .mark {position:absolute;right:30px;top:90px;}
	#footer .finner .flogo {position:absolute;left:10px;top:80px;}
	#footer .finner .flnb{position:absolute;left:10px;top:30px;}
	#footer .finner .flnb li {display:inline-block}
 	#footer .finner .flnb li a{font-size:18px;}
	#footer .finner .flnb li:hover a{text-decoration:underline;} 
	#footer .finner .flnb li:after {content:'|';padding:0 10px}
	#footer .finner .flnb li:last-child:after {content:'';padding:0}
	#footer .finner .flnb li:first-child a{color:#ffcc00} 
	#footer .finner .fadd {font-style:normal;position:absolute;left:330px;top:80px;}
	#footer .finner #site1 {position:absolute;right:30px;top:30px;width:200px;height:45px;background: #333;color:#f1f1f1;font-size:15px}

/*to top*/
.top  {;border-radius:40px;background:rgba(10,10,10,.6);line-height:62px;
	text-align:center;position:absolute;bottom:45px;right:200px}
	.top  a{width:60px;height:60px;display:block}
	.top.on{position:fixed;opacity}